<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1.0.0/serve/inter.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.3/new.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css@1.3.0/css/sakura.min.css">
    <title>{{ title }}</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="{{ '/' | url }}">Home</a> /
        <a href="{{ '/cv' | url }}">Curriculum Vitae</a> /
        <b>Experience:</b>
        <a href="{{ '/community' | url }}">Community</a> /
        <a href="{{ '/academic' | url }}">Academic</a> /
        <a href="{{ '/professional' | url }}">Professional</a>
      </nav>
    </header>
    <section>
      <h1>{{ title }}</h1>
      {%- if subtitle %}
      <p><i>{{ subtitle }}</i></p>
      {% endif %}
      {{ content | safe }}
    </section>
  </body>

</html>
